<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.train.dao.InformationCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.cn.train.entity.InformationCollection" >
    <id column="icid" property="icid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="infoid" property="infoid" jdbcType="INTEGER" />
    <result column="collecttime" property="collecttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    icid, uid, infoid, collecttime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from train_information_collection
    where icid = #{icid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from train_information_collection
    where icid = #{icid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.train.entity.InformationCollection" >
    insert into train_information_collection (icid, uid, infoid, 
      collecttime)
    values (#{icid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{infoid,jdbcType=INTEGER}, 
      #{collecttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.train.entity.InformationCollection" >
    insert into train_information_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="icid != null" >
        icid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="infoid != null" >
        infoid,
      </if>
      <if test="collecttime != null" >
        collecttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="icid != null" >
        #{icid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.train.entity.InformationCollection" >
    update train_information_collection
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        infoid = #{infoid,jdbcType=INTEGER},
      </if>
      <if test="collecttime != null" >
        collecttime = #{collecttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where icid = #{icid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.train.entity.InformationCollection" >
    update train_information_collection
    set uid = #{uid,jdbcType=INTEGER},
      infoid = #{infoid,jdbcType=INTEGER},
      collecttime = #{collecttime,jdbcType=TIMESTAMP}
    where icid = #{icid,jdbcType=INTEGER}
  </update>
  <select id="selectAllCollectionByUid" resultMap="BaseResultMap">
    select * from train_information_collection where uid = #{arg0}
  </select>
  <select id="queryexist" resultMap="BaseResultMap">
    select * from train_information_collection where uid = #{arg0} and infoid = #{arg1}
  </select>
</mapper>